<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h4>
      	<ul class="nav pull-right">
	      	<li> Gender     :<%=@user.gender %></li>
	      	<li> Birth Year :<%= @user.year_of_birth  %></li>
	      	<li> Mob Number :<%=@user.phone_number %></li>
	      	<li> About      :<%=@user.bio %></li>
	    </ul>
      </h4>
    </section>
  </aside>
</div>